.banner-text {
    width: 100%;
    position: absolute;
    z-index: 1;
}
.banner-text ul {
    height: 50px;
    float: right;
}
.banner-text ul li {
    display: inline-block;
    padding: 40px 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: blue;
}
.banner-text ul li:hover {
    cursor: pointer;
}
.banner-text h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 20%;

}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: animate 20s linear;
    text-align: center;
    bottom: -150px;
}
.box-area li:nth-child(1) {
    left: 86%;
    width: 100px;
    height: 50px;
    text-align: center;
    animation-delay: 2s;
    animation-duration:15s;
    animation-iteration-count: initial;

}
.box-area li:nth-child(2) {
    left: 12%9;
    width: 60px;
    height: 45px;
    text-align: center;
    animation-delay: 4.5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.box-area li:nth-child(3) {
    left: 70%;
    width: 40px;
    height: 30px;
    animation-delay: 9s;
    animation-duration: 11s;
    animation-iteration-count: initial;
}
.box-area li:nth-child(4) {
    left: 42%;
    width: 100px;
    height: 60px;
    text-align: center;
    text-decoration-color: rgb(0, 0, 0);
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: initial;
}
.box-area li:nth-child(5) {
    left: 65%;
    width: 60px;
    height: 40px;
    animation-delay: 6s;
    animation-duration:11s;
    animation-iteration-count: initial;
}
.box-area li:nth-child(6) {
    left: 15%;
    width: 50px;
    height: 40px;
    animation-delay: 7.5s;
    animation-duration: 10s;
    animation-iteration-count: initial;
}
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    }
    
    header{
     width: 100%;
     height: 100vh;
     background-image: url('../images/bg.png');
     background-repeat: no-repeat;
    background-size: 100% 100%;
    
    }
    a:hover{
        background-color:deepskyblue;
    }
    .mainheader{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }

    
    .mainheader .logo img{
     width: 290px; height: 270px;
     padding-left: 20px;
     padding-top: 80px;
     image-rendering: auto;
     image-rendering: optimizeQuality;
     filter: brightness(120%);
     font-weight: bolder;
     image-resolution: 2000px;
     
    }
    
    .mainheader nav{
     width: 450px;
     display: flex;
     justify-content: space-around;
     align-items: center;
    }
    
    .mainheader nav a{
     text-decoration: none;
     color: black;
     text-transform: uppercase;
    }
    
    .menubtn{
     margin-right: 60px;
    }
    .mainheader button{
     padding: 10px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    
    
    main{
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    
    main .right-sec{
     padding-right: 70px;
    }
    
    main .left-sec{
     padding-left: 100px;
    }
    
    .left-sec h2{
     font-size: 20px;
     text-transform: capitalize;
     font-weight: lighter;
     color: #242424;
     margin-top: 100px;
    }
    
    .left-sec h1{
     font-size: 55px;
     text-transform: capitalize;
     font-weight: 700;
     margin: 15px 0;
    }
    
    .left-sec p{
     margin-bottom: 20px;
    }
    
    .left-sec button{
     padding: 15px 45px;
     text-align: center;
     font-size: 14px;
     color: #fff;
     border: none;
     background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
     border-radius: 10px;
    }
    .right-sec img{
        width: 600px; height: 800px;
        padding-bottom: 360px;

    }
    